<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1bf73b05-238f-486a-9512-4920c7205331/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/ProjetoAds20220327140126</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <ApiResourceId>/subscriptions/1bf73b05-238f-486a-9512-4920c7205331/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/ProjetoAdsapi/apis/ProjetoAds</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projetoads20220327140126.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b51ae980-807b-4c68-9ee1-c2d570326923</ProjectGuid>
    <MSDeployServiceURL>projetoads20220327140126.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProjetoAds20220327140126</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ProjetoAds20220327140126</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>